<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yj.hqbz.mapper.system.ResourcesMapper" >
  <resultMap id="BaseResultMap" type="com.yj.hqbz.model.system.Resources" >
    <result column="ID" property="id" jdbcType="DECIMAL" />
    <result column="FK_PARENTID" property="parentid" jdbcType="DECIMAL" />
    <result column="NAME" property="name" jdbcType="VARCHAR" />
    <result column="RIGHTTYPE" property="rightType" jdbcType="DECIMAL" />
    <result column="CODE" property="code" jdbcType="VARCHAR" />
    <result column="HTMLURL" property="htmlUrl" jdbcType="VARCHAR" />
    <result column="APIURL" property="apiUrl" jdbcType="VARCHAR" />
    <result column="ICON" property="icon" jdbcType="VARCHAR" />
    <result column="ISSHOW" property="isshow" jdbcType="DECIMAL" />
    <result column="SCOPE" property="scope" jdbcType="DECIMAL" />
    <result column="REMARK" property="remark" jdbcType="VARCHAR" />
    <result column="STATUS" property="status" jdbcType="DECIMAL" />
    <result column="SORTNO" property="sortno" jdbcType="DECIMAL" />
  </resultMap>
  
  <insert id="insert" parameterType="com.yj.hqbz.model.system.Resources" >
  	<selectKey keyProperty="id" resultType="int" order="BEFORE">
		select RESOURCES_SEQ_ID.NEXTVAL from dual
	</selectKey>
	
    insert into RESOURCES (ID, FK_PARENTID, NAME, 
      RIGHTTYPE, CODE, HTMLURL, 
      APIURL, ICON, ISSHOW, 
      SCOPE, REMARK,STATUS,SORTNO)
    values (#{id,jdbcType=DECIMAL}, #{parentid,jdbcType=DECIMAL}, #{name,jdbcType=VARCHAR}, 
      #{rightType,jdbcType=DECIMAL}, #{code,jdbcType=VARCHAR}, #{htmlUrl,jdbcType=VARCHAR}, 
      #{apiUrl,jdbcType=VARCHAR}, #{icon,jdbcType=VARCHAR}, #{isshow,jdbcType=DECIMAL}, 
      #{scope,jdbcType=DECIMAL}, #{remark,jdbcType=VARCHAR},#{status,jdbcType=DECIMAL},#{sortno,jdbcType=DECIMAL})
  </insert>
  
  <update id="update" parameterType="com.yj.hqbz.model.system.Resources">
  	update RESOURCES
  	set 
	  	NAME = #{name,jdbcType=VARCHAR},
	  	RIGHTTYPE = #{rightType,jdbcType=DECIMAL},
	  	CODE = #{code,jdbcType=VARCHAR},
	  	HTMLURL = #{htmlUrl,jdbcType=VARCHAR},
	  	APIURL = #{apiUrl,jdbcType=VARCHAR},
	  	ICON = #{icon,jdbcType=VARCHAR},
	  	ISSHOW = #{isshow,jdbcType=DECIMAL},
	  	SCOPE = #{scope,jdbcType=DECIMAL},
	  	REMARK = #{remark,jdbcType=VARCHAR},
	  	SORTNO = #{sortno,jdbcType=DECIMAL}
  	where ID = #{id}
  </update>
  
  <delete id="delete" parameterType="java.lang.Integer">
  	UPDATE RESOURCES
  	SET 
  	STATUS = 1
  	where ID = #{id}
  </delete>
  
  <delete id="cascadeDeleteResInRoleRes" parameterType="java.lang.Integer">
  	delete 
  	from ROLE_RES
  	where FK_RESID = #{id}
  </delete>
  
  <select id="selectChildResourceByParentId" resultMap="BaseResultMap" parameterType="java.lang.Integer">
  		select * 
  		from RESOURCES
  		where FK_PARENTID = #{parentId} and STATUS=0
  		order by SORTNO
  </select>
  
  
  <select id="selectAllChildResourcesByParentId" resultMap="BaseResultMap" parameterType="java.util.Map">
		select * 
		from RESOURCES 		
    	WHERE STATUS = 0 
    	<if test="type!=null">
    		and (SCOPE = #{type} or SCOPE=9)
    	</if>
		start with FK_PARENTID = #{parentId}
		connect by prior  ID = FK_PARENTID  
  </select>
  
  <select id="selectRoleHavedResId" resultType="java.lang.Integer" parameterType="java.lang.Integer">
  	select FK_RESID as "id"
  	from ROLE_RES 
  	where FK_ROLEID = #{id}
  </select>
  
  
  <delete id="deleteRoleHavedRes" parameterType="java.lang.Integer">
  	delete
  	from ROLE_RES
  	where FK_ROLEID = #{id}
  </delete>
  
  <insert id="insertRoleHavedRes" parameterType="java.util.Map">
  	insert into ROLE_RES(RSID,FK_ROLEID,FK_RESID)
  	values(ROLE_RES_SEQ_ID.nextval,#{roleid},#{resid})
  </insert>
  
  <select id="getUserHaveRights" resultMap="BaseResultMap">
  	select distinct res.*
  	from USER_ROLE ur,ROLE r,RESOURCES res,ROLE_RES rr
  	where ur.FK_USERID = #{userid,jdbcType=VARCHAR}
	  	and r.ROLETYPE = #{resType,jdbcType=DECIMAL}
	  	and ur.FK_ROLEID = r.ID
	  	and ur.FK_ROLEID = rr.FK_ROLEID
	  	and rr.FK_RESID = res.ID
	  	and res.STATUS = 0
	  	and (res.SCOPE = #{resType,jdbcType=VARCHAR} or res.SCOPE=9)
  </select>
  
  <select id="getUserHaveMenusRights" resultMap="BaseResultMap" parameterType="map">
  	select * from (
	  	select distinct res.*
	  	from USER_ROLE ur,ROLE r,RESOURCES res,ROLE_RES rr
	  	where ur.FK_USERID = #{userid,jdbcType=VARCHAR}
		  	and r.ROLETYPE = #{resType,jdbcType=DECIMAL}
		  	and ur.FK_ROLEID = r.ID
		  	and ur.FK_ROLEID = rr.FK_ROLEID
		  	and rr.FK_RESID = res.ID
		  	and res.STATUS = 0
		  	and (res.SCOPE = #{resType,jdbcType=DECIMAL} or res.SCOPE=9)
		  	and res.RIGHTTYPE = 0
		 )
    	start with FK_PARENTID = 0
		connect by prior  ID = FK_PARENTID   	
  </select>
  
</mapper>