<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yj.hqbz.mapper.order.OrderLogisticsMapper" >
  <resultMap id="BaseResultMap" type="com.yj.hqbz.model.order.OrderLogistics" >
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <result column="FK_ORDERID" property="orderid" jdbcType="VARCHAR" />
    <result column="DISTRIBUTORID" property="distributorid" jdbcType="VARCHAR" />
    <result column="DISTRIBUTOR" property="distributor" jdbcType="VARCHAR" />
    <result column="MOBILE" property="mobile" jdbcType="VARCHAR" />
    <result column="PLATE_NUMBER" property="plateNumber" jdbcType="VARCHAR" />
    <result column="DISTRIBUTE_DATE" property="distributeDate" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, FK_ORDERID, DISTRIBUTORID, DISTRIBUTOR, MOBILE, PLATE_NUMBER, DISTRIBUTE_DATE
  </sql>
  
  <select id="selectListByOrderid" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select *
    from ORDER_LOGISTICS
    where FK_ORDERID = #{orderid}
  </select>
  
  <insert id="insert" parameterType="com.yj.hqbz.model.order.OrderLogistics">
  	insert into ORDER_LOGISTICS(<include refid="Base_Column_List"/>)
  	values(#{id},#{orderid,jdbcType=VARCHAR},#{distributorid,jdbcType=VARCHAR},#{distributor,jdbcType=VARCHAR},
  	#{mobile,jdbcType=VARCHAR},#{plateNumber,jdbcType=VARCHAR},#{distributeDate,jdbcType=VARCHAR})
  </insert>
  
  <update id="updateBySelective" parameterType="com.yj.hqbz.model.order.OrderLogistics">
  	update ORDER_LOGISTICS
  	<set>
  		<if test="distributorid!=null">
  			DISTRIBUTORID = #{distributorid,jdbcType=VARCHAR},
  		</if>
  		<if test="distributor!=null">
  			DISTRIBUTOR = #{distributor,jdbcType=VARCHAR},
  		</if>
  		<if test="mobile!=null">
  			MOBILE = #{mobile,jdbcType=VARCHAR},
  		</if>
  		<if test="plateNumber!=null">
  			PLATE_NUMBER = #{plateNumber,jdbcType=VARCHAR},
  		</if>
  		<if test="distributeDate!=null">
  			DISTRIBUTE_DATE = #{distributeDate,jdbcType=VARCHAR},
  		</if>  		
  	</set>
  	where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByMap" parameterType="java.util.Map">
  	update ORDER_LOGISTICS
  	<set>
  		<if test="distributorid!=null">
  			DISTRIBUTORID = #{distributorid,jdbcType=VARCHAR},
  		</if>
  		<if test="distributor!=null">
  			DISTRIBUTOR = #{distributor,jdbcType=VARCHAR},
  		</if>
  		<if test="mobile!=null">
  			MOBILE = #{mobile,jdbcType=VARCHAR},
  		</if>
  		<if test="plateNumber!=null">
  			PLATE_NUMBER = #{plateNumber,jdbcType=VARCHAR},
  		</if>
  		<if test="distributeDate!=null">
  			DISTRIBUTE_DATE = #{distributeDate,jdbcType=VARCHAR},
  		</if>  		
  	</set>
  	where ID = #{id,jdbcType=VARCHAR}
  </update>
</mapper>