<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yj.hqbz.mapper.order.StoreCartMapper" >
  <resultMap id="BaseResultMap" type="com.yj.hqbz.model.order.StoreCart" >
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <result column="ADDTIME" property="addtime" jdbcType="TIMESTAMP" />
    <result column="DELETESTATUS" property="deletestatus" jdbcType="DECIMAL" />
    <result column="STORE_ID" property="orgid" jdbcType="DECIMAL" />
    <result column="USER_ID" property="userid" jdbcType="VARCHAR" />
    <result column="SC_STATUS" property="status" jdbcType="DECIMAL" />
    <result column="ORGNAME" property="orgName" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, ADDTIME, DELETESTATUS, STORE_ID, USER_ID, SC_STATUS
  </sql>
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from STORECART
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  
  <insert id="addStoreCart" parameterType="com.yj.hqbz.model.order.StoreCart">
  	insert into STORECART 
    (<include refid="Base_Column_List" />) 
    select #{id,jdbcType=VARCHAR},sysdate,0,#{orgid,jdbcType=DECIMAL},#{userid,jdbcType=VARCHAR},0 
        from dual 
    where not exists(select 1 from storecart where store_id=#{orgid,jdbcType=DECIMAL} and user_id =#{userid,jdbcType=VARCHAR})
  </insert>
  
  <select id="getStoreCartBySkuidAndUserid" resultMap="BaseResultMap" parameterType="java.util.Map" >
  	select 
  	sc.ID, os.PRICE
    from STORECART sc left join ORG_SKU os on sc.STORE_ID=os.FK_ORGID
    where os.ID=#{skuid,jdbcType=DECIMAL} and USER_ID=#{userid,jdbcType=VARCHAR} 	
  </select>
  
  <delete id="deleteStoreCart" parameterType="java.lang.String">
  	delete from STORECART where ID= #{id,jdbcType=VARCHAR}
  </delete>
  
</mapper>