<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yj.hqbz.mapper.org.OrgBelongMapper" >
  <resultMap id="BaseResultMap" type="com.yj.hqbz.model.org.OrgBelong" >
    <id column="ID" property="id" jdbcType="DECIMAL" />
    <result column="FK_ORGIDS" property="orgids" jdbcType="VARCHAR" />
    <result column="FK_YJORGID" property="yjOrgid" jdbcType="DECIMAL" />
    <result column="YJORGNAME" property="yjOrgName" jdbcType="VARCHAR" />
    <result column="FK_AREAID" property="areaid" jdbcType="DECIMAL" />
    <result column="STATUS" property="status" jdbcType="DECIMAL" />
    <result column="OPENDATE" property="openDate" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, FK_ORGIDS, FK_YJORGID, YJORGNAME, FK_AREAID, STATUS, OPENDATE
  </sql>
  <select id="getByPrimaryKey" parameterType="java.lang.Integer"  resultMap="BaseResultMap" >
    select <include refid="Base_Column_List" />
    from ORG_BELONG
    where ID = #{id,jdbcType=DECIMAL}
  </select>
  
  <select id="getBelongByOrg" parameterType="java.lang.Integer"  resultMap="BaseResultMap" >
  	 select <include refid="Base_Column_List" />
    from ORG_BELONG
    where instr(','||FK_ORGIDS||',',','||#{orgid,jdbcType=DECIMAL}||',')>0
  </select>
  
  <select id="getBelongByYjOrg" parameterType="java.lang.Integer"  resultMap="BaseResultMap" >
  	select <include refid="Base_Column_List" />
    from ORG_BELONG
    where FK_YJORGID=#{yjOrgid,jdbcType=DECIMAL}
  </select>
  
  <insert id="addBelong"  parameterType="com.yj.hqbz.model.org.OrgBelong">
  	insert into ORG_BELONG(<include refid="Base_Column_List"/>)
  	values (ORG_BELONG_SEQ_ID.NEXTVAL,#{orgids,jdbcType=VARCHAR},#{yjOrgid,jdbcType=DECIMAL},
  			#{yjOrgName,jdbcType=VARCHAR},#{areaid,jdbcType=DECIMAL},#{status,jdbcType=DECIMAL},
  			#{openDate,jdbcType=TIMESTAMP}
  			)
  </insert>
  
  <update id="updateBelong" parameterType="com.yj.hqbz.model.org.OrgBelong">
  	update ORG_BELONG
  	set FK_ORGIDS=#{orgids,jdbcType=VARCHAR}
  	where ID = #{id,jdbcType=DECIMAL} 
  </update>
  
  <!-- =======================溯源================================ -->
  <select id="getBelongArea" resultType="map">
  	select distinct b.FK_AREAID as "areaid",a.NAME as "areaName"
  	from ORG_BELONG b,AREA a
  	where b.FK_AREAID=a.ID and b.STATUS=0
  	order by b.FK_AREAID
  </select>
  
  <select id="getSchoolByArea" parameterType="java.util.Map" resultType="map">
  	select distinct b.FK_YJORGID as "schoolid",b.YJORGNAME as "schoolName"
  	from ORG_BELONG b
  	where b.STATUS=0 
  	<if test="areaid!=null">
	  	and b.FK_AREAID=#{areaid,jdbcType=DECIMAL}
  	</if>
  	<if test="schoolid!=null">
	  	and b.FK_YJORGID=#{schoolid,jdbcType=DECIMAL}
  	</if>
  	order by b.FK_YJORGID
  </select>
  
  <select id="getOrgBySchool" parameterType="java.lang.Integer" resultType="map">
  	select o.ORGID as "orgid",o.NAME as "orgName"
  	from ORG_BELONG b,ORGANIZATION o
  	where instr(','||b.FK_ORGIDS||',',','||o.ORGID||',')>0 and o.STATUS=0
  		  and b.FK_YJORGID=#{schoolid,jdbcType=DECIMAL}
  	order by o.ORGID
  </select>
</mapper>