<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yj.hqbz.mapper.org.OrgTypeMapper" >
  <resultMap id="BaseResultMap" type="com.yj.hqbz.model.org.OrgType" >
    <id column="ID" property="id" jdbcType="DECIMAL" />
    <result column="NAME" property="name" jdbcType="VARCHAR" />
    <result column="CODE" property="code" jdbcType="VARCHAR" />
    <result column="FK_PARENT" property="parentid" jdbcType="DECIMAL" />
    <result column="PARENTNAME" property="parentName" jdbcType="VARCHAR" />
    <result column="REMARK" property="remark" jdbcType="VARCHAR" />
    <result column="TYPE" property="type" jdbcType="DECIMAL" />
    <result column="STATUS" property="status" jdbcType="DECIMAL" />
    <result column="CREATOR" property="creator" jdbcType="VARCHAR" />
    <result column="CREATEDATE" property="createDate" jdbcType="TIMESTAMP" />
    <result column="LASTOPUSER" property="lastOpUser" jdbcType="VARCHAR" />
    <result column="LASTOPDATE" property="lastOpDate" jdbcType="TIMESTAMP" />
  </resultMap>
  
  <sql id="Base_Column_List" >
    ID, NAME, CODE, FK_PARENT, REMARK, TYPE, STATUS, CREATOR, CREATEDATE, LASTOPUSER,LASTOPDATE
  </sql>
  
  <sql id="param">
  	<if test="type!=null">
  		and t.TYPE=#{type,jdbcType=DECIMAL}
  	</if>
  	<if test="code!=null and code!=''">
  		and t.CODE=#{code,jdbcType=VARCHAR}
  	</if>
  	<if test="name!=null and name!=''">
  		and instr(t.NAME,#{name,jdbcType=VARCHAR})>0
  	</if>
  	<if test="status==0">
  		and t.STATUS=0
  	</if>
  	<if test="status==1">
  		and t.STATUS=1
  	</if>
  	<if test="parentid!=null">
  		<choose>
  			<when test="parentid==-1">and t.FK_PARENT is null</when>
  			<otherwise>and t.FK_PARENT=#{parentid,jdbcType=DECIMAL}</otherwise>
  		</choose>
  	</if>
  </sql>
  
  <sql id="orderBy">
  	<choose>
  		<when test="orderBy!=null and orderBy!=''">
  			<choose>
		  		<when test="orderBy=='name' or orderBy=='parentName' or orderBy=='remark' or orderBy=='creator' or orderBy=='lastOpUser' ">
		  			NLSSORT(#{orderBy},'NLS_SORT=SCHINESE_PINYIN_M') 
		  		</when>
		  		<otherwise>
		  			#{orderBy}
		  		</otherwise>
		  	</choose>
		  	<if test="orderType==1">
		  		desc
		  	</if>
  		</when>
  		<otherwise>
  			CODE
  		</otherwise>
  	</choose>
  </sql>
  
  
  <select id="getByPrimaryKey" parameterType="java.lang.Integer"  resultMap="BaseResultMap">
    select t.*,t2.NAME as PARENTNAME
	from ORGTYPE t
	left join ORGTYPE t2 on t.FK_PARENT=t2.ID
    where t.ID = #{id,jdbcType=DECIMAL}
  </select>
  
  <select id="getOrgTypeBill" parameterType="java.util.Map" resultMap="BaseResultMap">
  	select * from(
	  	select t.*,t2.NAME as PARENTNAME
	  	from ORGTYPE t
	  	left join ORGTYPE t2 on t.FK_PARENT=t2.ID
	  	where t.STATUS!=2 <include refid="param"/>
  	)order by <include refid="orderBy"/>
  </select>
  
  <select id="getOrgTypeByParent" parameterType="java.lang.Integer" resultMap="BaseResultMap">
  	select <include refid="Base_Column_List" />
  	from ORGTYPE
  	where STATUS!=2 and FK_PARENT=#{parentid,jdbcType=DECIMAL}
  </select>
  
  <select id="getOrgTypeByNameAndType" parameterType="com.yj.hqbz.model.org.OrgType"  resultMap="BaseResultMap">
  	select <include refid="Base_Column_List" />
  	from ORGTYPE
  	where STATUS!=2 and TYPE=#{type,jdbcType=DECIMAL} and NAME=#{name,jdbcType=VARCHAR} and rownum=1
  </select>
  
  <insert id="addOrgType" parameterType="com.yj.hqbz.model.org.OrgType">
  	<selectKey keyProperty="id" resultType="int" order="BEFORE">
		select ORGTYPE_SEQ_ID.NEXTVAL from dual
	</selectKey>
  	insert into ORGTYPE(<include refid="Base_Column_List" />)
  	select	#{id,jdbcType=DECIMAL},#{name,jdbcType=VARCHAR},trim(to_char(to_number(nvl(max(o.CODE),0))+1,'0009')),
  			#{parentid,jdbcType=DECIMAL},#{remark,jdbcType=VARCHAR},#{type,jdbcType=DECIMAL},#{status,jdbcType=DECIMAL},
  			#{creator,jdbcType=VARCHAR},#{createDate,jdbcType=TIMESTAMP},#{lastOpUser,jdbcType=VARCHAR},#{lastOpDate,jdbcType=TIMESTAMP}
  	from ORGTYPE o
  	where o.STATUS!=2 and o.TYPE=#{type,jdbcType=DECIMAL}
  </insert>
  
  <update id="updateOrgType" parameterType="com.yj.hqbz.model.org.OrgType">
  	update ORGTYPE
  	set NAME=#{name,jdbcType=VARCHAR},
  		REMARK=#{remark,jdbcType=VARCHAR}, 
  		LASTOPUSER=#{lastOpUser,jdbcType=VARCHAR},
  		LASTOPDATE=#{lastOpDate,jdbcType=TIMESTAMP}
  	where ID=#{id,jdbcType=DECIMAL}
  </update>
  
  <update id="updateStatus" parameterType="com.yj.hqbz.model.org.OrgType">
  	update ORGTYPE
  	set STATUS=#{status,jdbcType=DECIMAL},
  		LASTOPUSER=#{lastOpUser,jdbcType=VARCHAR},
  		LASTOPDATE=#{lastOpDate,jdbcType=TIMESTAMP}
  	where ID=#{id,jdbcType=DECIMAL}
  </update>
  
  <update id="updateStatusByParent" parameterType="com.yj.hqbz.model.org.OrgType">
  	update ORGTYPE
  	set STATUS=#{status,jdbcType=DECIMAL},
  		LASTOPUSER=#{lastOpUser,jdbcType=VARCHAR},
  		LASTOPDATE=#{lastOpDate,jdbcType=TIMESTAMP}
  	where FK_PARENT=#{id,jdbcType=DECIMAL}
  </update>
  
</mapper>