<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yj.hqbz.mapper.schoolOperation.FoodAdditiveMapper">
  <resultMap id="BaseResultMap" type="com.yj.hqbz.model.schoolOperation.FoodAdditive">
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="CODE" jdbcType="VARCHAR" property="code" />
    <result column="LIABLEID" jdbcType="VARCHAR" property="liableid" />
    <result column="PERSION_LIABLE" jdbcType="VARCHAR" property="persionLiable" />
    <result column="MENUTYPE" jdbcType="DECIMAL" property="menutype" />
    <result column="USEDATE" jdbcType="TIMESTAMP" property="usedate" />
    <result column="FK_ORGID" jdbcType="DECIMAL" property="fkOrgid" />
    <result column="FK_OUTDETAILID" jdbcType="VARCHAR" property="fkOutdetailid" />
    <result column="QTY" jdbcType="DECIMAL" property="qty" />
    <result column="PERCENT" jdbcType="DECIMAL" property="percent" />
    <result column="REMARK" jdbcType="VARCHAR" property="remark" />
    <result column="STATUS" jdbcType="DECIMAL" property="status" />
    <result column="CREATOR" jdbcType="VARCHAR" property="creator" />
    <result column="CREATEDATE" jdbcType="TIMESTAMP" property="createdate" />
    <result column="LASTOPUSER" jdbcType="VARCHAR" property="lastopuser" />
    <result column="LASTOPDATE" jdbcType="TIMESTAMP" property="lastopdate" />
  </resultMap>

  <sql id="Base_Column_List">
    ID, CODE, LIABLEID, PERSION_LIABLE, MENUTYPE, USEDATE, FK_ORGID, FK_OUTDETAILID,
    QTY, PERCENT, REMARK, STATUS, CREATOR, CREATEDATE, LASTOPUSER, LASTOPDATE
  </sql>


  <select id="getFoodAdditiveList" resultMap="BaseResultMap" parameterType="map">
    select  <include refid="Base_Column_List"/>
    from FOOD_ADDITIVE
  </select>

  <select id="getFoodAdditiveUseDetail" resultType="map">
         select a.CODE,a.LIABLEID,a.MENUTYPE,a.PERSION_LIABLE,b.INDATE,b.WAREHOUSE,c.LIABLEPERSON as OUTLIABLEPERSON,
         b.INTERVALDATE,b.USELIFEDATE,a.REMARK,a.LASTOPUSER,a.LASTOPDATE,a.USEDATE,b.PRODATE,a.QTY,a.PERCENT,a.CREATEDATE,
         a.CREATOR from FOOD_ADDITIVE a
         LEFT JOIN  BVOUCHER_DETAIL b on a.FK_OUTDETAILID = b.ID
         LEFT JOIN  BVOUCHER_INDEX c on c.id = b.FK_INDEXID
         where a.code =#{code} and  a.STATUS = 0
  </select>
  <insert id="insertSelective" parameterType="com.yj.hqbz.model.schoolOperation.FoodAdditive">
    insert into FOOD_ADDITIVE
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="code != null">
        CODE,
      </if>
      <if test="liableid != null">
        LIABLEID,
      </if>
      <if test="persionLiable != null">
        PERSION_LIABLE,
      </if>
      <if test="menutype != null">
        MENUTYPE,
      </if>
      <if test="usedate != null">
        USEDATE,
      </if>
      <if test="fkOrgid != null">
        FK_ORGID,
      </if>
      <if test="fkOutdetailid != null">
        FK_OUTDETAILID,
      </if>
      <if test="qty != null">
        QTY,
      </if>
      <if test="percent != null">
        PERCENT,
      </if>
      <if test="remark != null">
        REMARK,
      </if>
      <if test="status != null">
        STATUS,
      </if>
      <if test="creator != null">
        CREATOR,
      </if>
      <if test="createdate != null">
        CREATEDATE,
      </if>
      <if test="lastopuser != null">
        LASTOPUSER,
      </if>
      <if test="lastopdate != null">
        LASTOPDATE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="code != null">
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="liableid != null">
        #{liableid,jdbcType=VARCHAR},
      </if>
      <if test="persionLiable != null">
        #{persionLiable,jdbcType=VARCHAR},
      </if>
      <if test="menutype != null">
        #{menutype,jdbcType=DECIMAL},
      </if>
      <if test="usedate != null">
        #{usedate,jdbcType=TIMESTAMP},
      </if>
      <if test="fkOrgid != null">
        #{fkOrgid,jdbcType=DECIMAL},
      </if>
      <if test="fkOutdetailid != null">
        #{fkOutdetailid,jdbcType=VARCHAR},
      </if>
      <if test="qty != null">
        #{qty,jdbcType=DECIMAL},
      </if>
      <if test="percent != null">
        #{percent,jdbcType=DECIMAL},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=DECIMAL},
      </if>
      <if test="creator != null">
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="createdate != null">
        #{createdate,jdbcType=TIMESTAMP},
      </if>
      <if test="lastopuser != null">
        #{lastopuser,jdbcType=VARCHAR},
      </if>
      <if test="lastopdate != null">
        #{lastopdate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yj.hqbz.model.schoolOperation.FoodAdditive">
    update FOOD_ADDITIVE
    <set>
      <if test="code != null">
        CODE = #{code,jdbcType=VARCHAR},
      </if>
      <if test="liableid != null">
        LIABLEID = #{liableid,jdbcType=VARCHAR},
      </if>
      <if test="persionLiable != null">
        PERSION_LIABLE = #{persionLiable,jdbcType=VARCHAR},
      </if>
      <if test="menutype != null">
        MENUTYPE = #{menutype,jdbcType=DECIMAL},
      </if>
      <if test="usedate != null">
        USEDATE = #{usedate,jdbcType=TIMESTAMP},
      </if>
      <if test="fkOrgid != null">
        FK_ORGID = #{fkOrgid,jdbcType=DECIMAL},
      </if>
      <if test="fkOutdetailid != null">
        FK_OUTDETAILID = #{fkOutdetailid,jdbcType=VARCHAR},
      </if>
      <if test="qty != null">
        QTY = #{qty,jdbcType=DECIMAL},
      </if>
      <if test="percent != null">
        PERCENT = #{percent,jdbcType=DECIMAL},
      </if>
      <if test="remark != null">
        REMARK = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        STATUS = #{status,jdbcType=DECIMAL},
      </if>
      <if test="creator != null">
        CREATOR = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="createdate != null">
        CREATEDATE = #{createdate,jdbcType=TIMESTAMP},
      </if>
      <if test="lastopuser != null">
        LASTOPUSER = #{lastopuser,jdbcType=VARCHAR},
      </if>
      <if test="lastopdate != null">
        LASTOPDATE = #{lastopdate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yj.hqbz.model.schoolOperation.FoodAdditive">
    update FOOD_ADDITIVE
    set CODE = #{code,jdbcType=VARCHAR},
      LIABLEID = #{liableid,jdbcType=VARCHAR},
      PERSION_LIABLE = #{persionLiable,jdbcType=VARCHAR},
      MENUTYPE = #{menutype,jdbcType=DECIMAL},
      USEDATE = #{usedate,jdbcType=TIMESTAMP},
      FK_ORGID = #{fkOrgid,jdbcType=DECIMAL},
      FK_OUTDETAILID = #{fkOutdetailid,jdbcType=VARCHAR},
      QTY = #{qty,jdbcType=DECIMAL},
      PERCENT = #{percent,jdbcType=DECIMAL},
      REMARK = #{remark,jdbcType=VARCHAR},
      STATUS = #{status,jdbcType=DECIMAL},
      CREATOR = #{creator,jdbcType=VARCHAR},
      CREATEDATE = #{createdate,jdbcType=TIMESTAMP},
      LASTOPUSER = #{lastopuser,jdbcType=VARCHAR},
      LASTOPDATE = #{lastopdate,jdbcType=TIMESTAMP}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from FOOD_ADDITIVE
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <insert id="insert" parameterType="com.yj.hqbz.model.schoolOperation.FoodAdditive">
    insert into FOOD_ADDITIVE (ID, CODE, LIABLEID, 
      PERSION_LIABLE, MENUTYPE, USEDATE, 
      FK_ORGID, FK_OUTDETAILID, QTY, 
      PERCENT, REMARK, STATUS, 
      CREATOR, CREATEDATE, LASTOPUSER, 
      LASTOPDATE)
    values (#{id,jdbcType=VARCHAR}, #{code,jdbcType=VARCHAR}, #{liableid,jdbcType=VARCHAR}, 
      #{persionLiable,jdbcType=VARCHAR}, #{menutype,jdbcType=DECIMAL}, #{usedate,jdbcType=TIMESTAMP}, 
      #{fkOrgid,jdbcType=DECIMAL}, #{fkOutdetailid,jdbcType=VARCHAR}, #{qty,jdbcType=DECIMAL}, 
      #{percent,jdbcType=DECIMAL}, #{remark,jdbcType=VARCHAR}, #{status,jdbcType=DECIMAL}, 
      #{creator,jdbcType=VARCHAR}, #{createdate,jdbcType=TIMESTAMP}, #{lastopuser,jdbcType=VARCHAR}, 
      #{lastopdate,jdbcType=TIMESTAMP})
  </insert>
</mapper>