.must>label:after,.xjtval label.must:after{content:'*';color:red;height:9px;line-height:9px;position:absolute;left:0;top:50%;margin-top:-3px}
.must label,.xjtval label.must{position: relative}

.tableDiv {
  display:table;
  border-collapse:separate;
  width:98%;
  margin: 10px;
}

.searchItemDiv{
	float:left;
	display:block;
	margin-bottom:5px;
}

.tableDiv .cos-3 {
	float:left;
	width: calc(100%/3);
	margin-bottom: 8px;
}

.tableDiv .cos-2 {
	float:left;
	width: calc(100%/2);
	margin-bottom: 8px;
}
.tableDiv .cos-3-2 {
	float:left;
	width: calc(100%/3*2);
	margin-bottom: 8px;
}
.tableDiv .cos-4 {
	float:left;
	width: calc(100%/4);
	margin-bottom: 8px;
}

.tableDiv .cos-5 {
	float:left;
	width: calc(100%/5);
	margin-bottom: 8px;
}
.tableDiv .cos {
	float:left;
	width: calc(100%);
	margin-bottom: 8px;
}

 .myButton {
	min-width:50px;
	border:1px solid #bbb;
	font-size:12px;
	height:25px;
	line-height:17px;
	cursor:pointer;
	border-radius: 2px 2px 2px 2px;
	letter-spacing: 1px;
	padding-left: 20px;
	background-position: 2px;
	padding-right:4px;
	margin-top:3px;
}

input[type=button]:disabled{
	cursor:not-allowed;
	background-color:#cccccc;
}
input[disabled]{
	cursor:not-allowed;
	color:#056292;
	opacity:1;
}

input[readonly]{
	color:#056292;
	opacity:1
}
input[type=button].disabled{
	background-color: #bbb; 
	cursor:not-allowed; 
}

select{
	height:25px;
}

.input_line{
	border: none 0;
	outline: medium;
	background: transparent;
	-webkit-appearance: none;
	-moz-appearance: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-moz-tap-highlight-color: transparent;
	border-bottom: 1px solid #056292;
	line-height:25px;
	font-size:12px;
	margin-bottom: 1px;
	color:blue;
}
.yj-panel-body{
	border-width: 1px;
	border-top-width: 1px;
	border-left-width: 1px;
	border-style: solid;
	border-color: #D4D4D4;
	padding-left:1px;
}
.yj-panel-body td{
	padding-left:1px;
}

.yj-textbox-label {
    display: inline-block;
    height: 30px;
    line-height: 30px;
    vertical-align: middle;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0;
    padding-right: 5px;
}
.datagrid-header-row{
	text-align:center
}
.none{
	display:none;
}
