<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yj.hqbz.mapper.user.UserAddressMapper" >
  <resultMap id="BaseResultMap" type="com.yj.hqbz.model.user.UserAddress" >
    <result column="ID" property="id" jdbcType="DECIMAL" />
    <result column="FK_USERID" property="userid" jdbcType="VARCHAR" />
    <result column="FK_AREAID" property="areaid" jdbcType="DECIMAL" />
    <result column="RECEIVER" property="receiver" jdbcType="VARCHAR" />
    <result column="LINKPHONE" property="linkPhone" jdbcType="VARCHAR" />
    <result column="ADDRESS" property="address" jdbcType="VARCHAR" />
    <result column="STATUS" property="status" jdbcType="DECIMAL" />
    <result column="COMMON" property="common" jdbcType="DECIMAL" />
    <result column="AREANAME" property="areaName" jdbcType="VARCHAR" />
  </resultMap>
  
  <sql id="Base_Column_List" >
    ID, FK_USERID, FK_AREAID, RECEIVER, LINKPHONE, ADDRESS, STATUS, COMMON
  </sql>
  
  <select id="getAddressById" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
  	select 
  	<include refid="Base_Column_List" />
  	from USER_ADDRESS
  	where ID = #{id,jdbcType=DECIMAL}
  </select>
  
  <select id="getAddressByUserId" resultMap="BaseResultMap" parameterType="java.lang.String">
  	select 
  	<include refid="Base_Column_List" />
  	from USER_ADDRESS
  	where FK_USERID = #{userid,jdbcType=VARCHAR} and STATUS=0 
  </select>
  
  <update id="deleteAddress" parameterType="java.lang.Integer">
  	update USER_ADDRESS SET STATUS=1 WHERE ID = #{id,jdbcType=DECIMAL}
  </update>
  
  <insert id="insertAddress" parameterType="com.yj.hqbz.model.user.UserAddress">
  	insert into USER_ADDRESS (ID, FK_USERID, FK_AREAID, RECEIVER, LINKPHONE, ADDRESS, STATUS,COMMON)
  	values
  	 (USER_ADDRESS_SEQ_ID.nextval,#{userid,jdbcType=VARCHAR},#{areaid,jdbcType=DECIMAL},
  	 #{receiver,jdbcType=VARCHAR},#{linkPhone,jdbcType=VARCHAR},#{address,jdbcType=VARCHAR},#{status,jdbcType=DECIMAL},0)
  </insert>
  
  <update id="updateAddress" parameterType="com.yj.hqbz.model.user.UserAddress">
  update USER_ADDRESS
  	<set>
       <if test="areaid != null " >
         FK_AREAID = #{areaid,jdbcType=DECIMAL},
       </if>
       <if test="linkPhone != null and linkPhone!=''" >
         LINKPHONE = #{linkPhone,jdbcType=VARCHAR},
       </if>
       <if test="receiver != null and receiver!=''" >
         RECEIVER = #{receiver,jdbcType=VARCHAR},
       </if>
       <if test="address != null and address!=''" >
         ADDRESS = #{address,jdbcType=VARCHAR},
       </if>
       <if test="common != null">
       	 COMMON = #{common,jdbcType=DECIMAL}
       </if>
  	</set>
  	 where ID = #{id,jdbcType=DECIMAL}
  </update>
  <update id="clearALLCommonAddress" parameterType="java.lang.String">
  	update USER_ADDRESS set COMMON=0 where FK_USERID = #{userid,jdbcType=VARCHAR} and STATUS=0 
  </update>
  <update id="setCommonAddress" parameterType="java.lang.Integer">
  	update USER_ADDRESS set COMMON=1 where ID = #{id,jdbcType=DECIMAL}
  </update>
</mapper>